$primary-color: #181a1b;
$secondary-color: #262a2b;
$third-color: #222527;
$head-color: orange;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.navigation {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background: $secondary-color;
  & .hamburger-menu {
    display: none;
  }
}

.nav-link {
  padding: 1rem;
  text-decoration: none;
}

.nav-link:hover {
  transition: 0.6s;
  color: $head-color;
}

main {
  background: url(/bgs/beanstalk-dark.png);
}

.section-pad {
  padding-top: 2%;
}

.greeting {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.8rem;
  line-height: 2;
}

.sub-head {
  color: $head-color;
}

.about-wrap {
  margin-left: 12%;
  margin-right: 13%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 69%;
  font-size: 1.5rem;
  line-height: 1.5;
}

.about-text {
  width: 47%;
  font-weight: 300;
}

@media (max-width: 1751px) {
  .about-wrap {
    margin-left: 0%;
    margin-right: 0%;
    font-size: 1.4rem;
    line-height: 1.5;
  }

  .about-text {
    width: 38%;
  }
}

.button-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21%;
  height: 56%;
}

.button {
  padding: 5% 4% 5% 4%;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background: black;
  text-align: center;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  transition: 0.3s;
  color: $head-color;
}

.fa-download {
  padding-left: 26px;
}

@media (max-width: 1333px) {
  .button {
    font-size: 1.3rem;
  }
}

@media (max-width: 1027px) {
  .about-wrap {
    flex-direction: column;
    height: 90%;
  }

  .about-text {
    text-align: center;
    width: 50%;
    font-size: 1.2rem;
  }

  .button-wrap {
    flex-direction: row;
    align-items: center;
    width: 64%;
    height: 14%;
  }

  .button {
    padding: 3% 4% 3% 4%;
  }
}

@media (max-width: 600px) {
  .about-text {
    font-size: 1.1rem;
  }

  .button-wrap {
    width: 77%;
  }
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2px;
  border-color: gray;
  font-size: 2rem;
  font-weight: 300;
}

.about {
  height: 55vh;
  background: $secondary-color;
}

.skills {
  height: 50vh;
  background: $third-color;
}

.logos {
  height: 6rem;
}

.logos-wrap {
  display: flex;
  justify-content: space-evenly;
  height: 65%;
  align-items: center;
}

.projects {
  height: 68vh;
  background: $secondary-color;
}

.project-links {
  height: 94%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.proj {
  border: 2px solid black;
  border-radius: 15px;
  min-height: 264px;
  min-width: 334px;
}

#proj-1 {
  background: grey;
  background: url(/imgs/test.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1%;
}

#proj-2 {
  background: grey;
  background: url();
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1%;
}

#proj-3 {
  background: grey;
  background: url(/imgs/ipAddress.png);
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1%;
}

.proj-title-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  width: 100%;
  font-size: 1.4rem;
  & .link-container > i, p {
    color: black;
  }
  & * {
    padding-bottom: 5%;
    padding-top: 5%;
    text-decoration: none;
    opacity: 0;
  }
  & .fas {
    padding-right: 1rem;
  }
}

.proj-title-card:hover {
  background: #181a1b;
  width: 100%;
  height: inherit;
  opacity: 1;
  transition: 0.6s;
  & * {
    transition: 0.6s;
    opacity: 1;
  }
}

.link-container {
  background: white;
  display: flex;
}

.contact {
  height: 81vh;
  background: $third-color;
  // background: url(/bgs/beanstalk-dark.png);
}

.goodbye-wrap {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  font-size: 1.3rem;
}

.form-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 66%;
  width: 100%;
  font-size: 1.1rem;
}

.contact-details {
  height: 47%;
}

.contact-item {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.contact-item > i {
  padding-right: 15px;
}

.contact-form {
  height: 58%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 27%;
}

.contact-form > div {
  font-size: 1.4rem;
}

.input-wrap {
  padding-bottom: 5%;
}

#email {
  margin-left: 6px;
}

.form-box {
  height: 100%;
  border: none;
  background: #282b2c;
  font-size: 1.2rem;
  font-weight: lighter;
  padding-left: 10px;
}

textarea {
  width: 100%;
  resize: none;
  padding-top: 5px;
}

.msg-wrap {
  grid-column-start: span 2;
}

#message {
  height: 157px;
}

#submit {
  padding: 3% 4% 3% 4%;
  margin-left: 29%;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background: black;
  grid-column: 2;
}

.social-links {
  background: url(/bgs/beanstalk-dark.png);
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 4rem;
}

.social-links > a:hover {
  opacity: 0.7;
}

@media (max-width: 1070px) {
  .form-wrap {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 85%;
  }

  .contact-details {
    height: 38%;
  }

  .contact-form {
    height: 47%;
    margin-top: 20px;
    grid-template-rows: 24%;
  }

  .input-wrap {
    padding-bottom: 0;
  }

  .form-box {
    height: 60%;
  }

  #submit {
    width: 50%;
    height: 80%;
    margin-left: 50%;
    font-size: 1.2rem;
  }

  .goodbye-wrap > p {
    width: 59%;
    text-align: center;
  }

  .title {
    padding-top: 4%;
  }
}

@media (max-width: 737px) {
  .greeting {
    font-size: 2.1rem;
  }

  .about-text {
    width: 58%;
  }

  .button {
    font-size: 1.1rem;
  }

  .logos-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }

  .proj {
    min-height: 188px;
    min-width: 238px;
  }
}

@media (max-width: 646px) {
  .contact-details {
    height: 30%;
  }

  .contact-form {
    grid-template-rows: 22% 22% 53% 15%;
  }

  .input-wrap {
    grid-column-start: span 2;
  }

  #email {
    margin: 0;
  }

  #submit {
    font-size: 1rem;
  }
}

@media (max-width: 516px) {
  .navigation {
    height: 2.6rem;
    align-items: center;
    justify-content: end;

  & .nav-link {
    display: none;
  }

  & .hamburger-menu {
    padding-right: 2rem;
    display: block;
    font-size: 1.4rem;
  }
  
  & .hamburger-menu:hover {
    cursor: pointer;
  }
}

.mobile-nav {
  position: fixed;
  display: hidden;
  height: 0%;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #181a1b;
  transition: width 0.5s;

  & .nav-link {
    opacity: 0;
  }
}

.mobile-nav.open {
  height: 100%;
  width: 100%;
  opacity: 0.8;

  & .nav-link {
    opacity: 1;
    font-size: 1.7rem;
    transition: 0.8s;
  }
}

  .about-text {
    width: 83%;
  }

  .button-wrap {
    width: 87%;
  }

  .projects {
    height: 75vh;
  }

  .proj {
    min-height: 167px;
    min-width: 212px;
  }
}

@media (max-width: 452px) {
}

@media (max-width: 414px), (max-height: 780px) {
  .section-pad {
    padding-top: 7%;
  }

  .greeting {
    font-size: 1.6rem;
  }

  .about {
    height: 62vh;
  }

  .button-wrap {
    flex-direction: column-reverse;
    height: 28%;
  }

  .skills {
    height: 66vh;
  }

  .projects {
    height: 94vh;
  }

  .project-links {
    height: 90%;
  }

  .proj {
    min-height: 189px;
    min-width: 208px;
  }

  .contact {
    height: 100vh;
  }

  .goodbye-wrap {
    font-size: 1.1rem;
  }

  .form-wrap {
    justify-content: space-around;
    height: 79%;
    font-size: 1rem;
  }

  .contact-form {
    grid-template-rows: 21% 22% 61% 16%;
  }

  .contact-details {
    height: 24%;
  }

  .social-links {
    font-size: 3rem;
  }
}

@media (max-width: 375px), (max-height: 667px) {
  .project-links {
    height: 92%;
  }

  .proj {
    min-height: 159px;
    min-width: 188px;
  }

  .contact-form {
    grid-template-rows: 19% 19% 68% 16%;
  }
}

@media (max-width: 453px) {
  .nav-link {
    padding: 11px;
  }
}
