$primary-color: #181a1b;
$secondary-color: #262a2b;
$third-color: #222527;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.navigation {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background: $secondary-color;
}

.nav-link {
  padding: 1rem;
  text-decoration: none;
}

.nav-link:hover {
  transition: 0.6ss;
  color: orange;
}

main {
  background: $primary-color;
  height: 100%;
}

.greeting {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.8rem;
  line-height: 2;
}

.about-wrap {
  margin-left: 24%;
  margin-right: 24%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  font-size: 1.7rem;
}

.about-text {
  width: 50%;
}

#download {
  padding: 3% 4% 3% 4%;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background: black;
}

.title {
  padding-top: 2%;
  padding-bottom: 2px;
  margin-left: 18%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: gray;
  font-size: 2rem;
  display: inline-block;
}

.about {
  height: 55%;
  background: $secondary-color;
}

.skills {
  height: 50%;
  background: $third-color;
}

.logos {
  height: 6rem;
}

.logos-wrap {
  display: flex;
  justify-content: space-evenly;
  height: 65%;
  align-items: center;
}

.projects {
  height: 68%;
  background: $secondary-color;
}

.project-links {
  height: 94%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.proj {
  min-height: 264px;
  min-width: 287px;
  // min-height: 42%;
  // min-width: 15%;
}

#proj-1 {
  background: cadetblue;
  // background: url(/imgs/clock.jpg);
  // background-position: center;
  // background-size: contain;
  // background-repeat: no-repeat;
  // max-width: 100%;
}

#proj-2 {
  background: chartreuse;
}

#proj-3 {
  background: crimson;
}

.contact {
  height: 100%;
  background: $third-color;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 100%;
  font-size: 1.4rem;
}

.contact-form {
  height: 88%;
}

.contact-form > div {
  font-size: 1.4rem;
}

.input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}

.form-box {
  border: none;
  background: #282b2c;
  height: 3rem;
  width: 28rem;
  margin-left: 5rem;
  font-size: 1.2rem;
  padding-left: 10px;
}

textarea {
  resize: none;
  padding-top: 5px;
}

.msg-wrap {
  align-items: flex-start;
}

#message {
  height: 335px;
}

#submit {
  padding: 3% 4% 3% 4%;
  margin-left: 29%;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background: black;
}