* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.navigation {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #262a2b;
}

.navigation .hamburger-menu {
  display: none;
}

.nav-link {
  padding: 1rem;
  text-decoration: none;
}

.nav-link:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: orange;
}

.active {
  color: orange;
}

main {
  background: url(bgs/beanstalk-dark.png);
}

.section-pad {
  padding-top: 2%;
}

.greeting {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.8rem;
  line-height: 2;
}

.sub-head {
  color: orange;
}

.about-wrap {
  margin-left: 12%;
  margin-right: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 69%;
  font-size: 1.5rem;
  line-height: 1.5;
}

.about-text {
  width: 47%;
  font-weight: 300;
}

@media (max-width: 1751px) {
  .about-wrap {
    margin-left: 0%;
    margin-right: 0%;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .about-text {
    width: 38%;
  }
}

.button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 21%;
  height: 56%;
}

.button {
  padding: 5% 4% 5% 4%;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background: black;
  text-align: center;
  text-decoration: none;
}

a:hover *, a:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: orange;
}

.fa-download {
  padding-left: 26px;
}

@media (max-width: 1333px) {
  .button {
    font-size: 1.3rem;
  }
}

@media (max-width: 1027px) {
  .about-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90%;
  }
  .about-text {
    text-align: center;
    width: 50%;
    font-size: 1.2rem;
  }
  .button-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 64%;
    height: 14%;
  }
  .button {
    padding: 3% 4% 3% 4%;
  }
}

@media (max-width: 600px) {
  .about-text {
    font-size: 1.1rem;
  }
  .button-wrap {
    width: 77%;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2%;
  padding-bottom: 2px;
  border-color: gray;
  font-size: 2rem;
  font-weight: 300;
}

.about {
  height: 55vh;
  background: #262a2b;
}

.skills {
  height: 50vh;
  background: #222527;
}

.logos {
  height: 6rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.logos:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 8.3rem;
}

.logos-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 65%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects {
  height: 68vh;
  background: #262a2b;
}

.project-links {
  height: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.proj {
  border: 2px solid black;
  border-radius: 15px;
  min-height: 264px;
  min-width: 334px;
}

#proj-1 {
  background: grey;
  background: url(/imgs/test.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1%;
}

#proj-2 {
  background: grey;
  background: url();
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1%;
}

#proj-3 {
  background: grey;
  background: url(/imgs/ipAddress.png);
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1%;
}

.proj-title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
  width: 100%;
  font-size: 1.4rem;
}

.proj-title-card .link-container > i, .proj-title-card p {
  color: black;
}

.proj-title-card * {
  padding-bottom: 5%;
  padding-top: 5%;
  text-decoration: none;
  opacity: 0;
}

.proj-title-card .fas {
  padding-right: 1rem;
}

.proj-title-card:hover {
  background: #181a1b;
  width: 100%;
  height: inherit;
  opacity: 1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.proj-title-card:hover * {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 1;
}

.link-container {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  height: 67vh;
  background: #222527;
}

.goodbye-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
  font-size: 1.3rem;
}

.form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 66%;
  width: 100%;
  font-size: 1.1rem;
}

.contact-details {
  width: 80%;
  height: 36%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 16px;
}

.contact-item .fas {
  font-size: 3rem;
}

.contact-item p {
  font-size: 1.4rem;
}

.social-links {
  background: url(/bgs/beanstalk-dark.png);
  height: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 4rem;
}

.social-links > a:hover {
  opacity: 0.7;
}

@media (max-width: 1070px) {
  .form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 85%;
  }
  .contact-details {
    height: 38%;
  }
  .goodbye-wrap > p {
    width: 59%;
    text-align: center;
  }
  .title {
    padding-top: 4%;
  }
  .contact-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 86%;
  }
  .contact-item {
    height: 22%;
  }
}

@media (max-width: 737px) {
  .greeting {
    font-size: 2.1rem;
  }
  .about-text {
    width: 58%;
  }
  .button {
    font-size: 1.1rem;
  }
  .logos-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    justify-items: center;
  }
  .proj {
    min-height: 188px;
    min-width: 238px;
  }
}

@media (max-width: 516px) {
  .navigation {
    height: 2.6rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .navigation .nav-link {
    display: none;
  }
  .navigation .hamburger-menu {
    padding-right: 2rem;
    display: block;
    font-size: 1.4rem;
  }
  .navigation .hamburger-menu:hover {
    cursor: pointer;
  }
  .mobile-nav {
    position: fixed;
    display: hidden;
    height: 0%;
    width: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #181a1b;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
  .mobile-nav .nav-link {
    opacity: 0;
  }
  .mobile-nav.open {
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  .mobile-nav.open .nav-link {
    opacity: 1;
    font-size: 1.7rem;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .about-text {
    width: 83%;
  }
  .button-wrap {
    width: 87%;
  }
  .projects {
    height: 75vh;
  }
  .proj {
    min-height: 167px;
    min-width: 212px;
  }
  .contact-item .fas {
    font-size: 2rem;
  }
  .contact-item p {
    font-size: 1.2rem;
  }
}

@media (max-width: 414px), (max-height: 780px) {
  .section-pad {
    padding-top: 7%;
  }
  .greeting {
    font-size: 1.6rem;
  }
  .about {
    height: 62vh;
  }
  .button-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 28%;
  }
  .skills {
    height: 66vh;
  }
  .projects {
    height: 94vh;
  }
  .project-links {
    height: 90%;
  }
  .proj {
    min-height: 189px;
    min-width: 208px;
  }
  .contact {
    height: 100vh;
  }
  .goodbye-wrap {
    font-size: 1.1rem;
  }
  .form-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 79%;
    font-size: 1rem;
  }
  .social-links {
    font-size: 3rem;
  }
}

@media (max-width: 375px), (max-height: 667px) {
  .project-links {
    height: 92%;
  }
  .proj {
    min-height: 159px;
    min-width: 188px;
  }
}

@media (max-width: 453px) {
  .nav-link {
    padding: 11px;
  }
}
/*# sourceMappingURL=style.css.map */